

<div class="fixed-action-btn">
    <div class="tooltip">
    <a href="/expenses/add" class="btn-floating btn-large blue">
    <i class="fa fa-plus"></i></a>
  <span class="tooltiptext"> Click to add expenses</span> </div>
</div> 