<h1>Welcome {{user.firstName }}</h1>
<br>
<h3>This Month's Expenses</h3>
<br>
<div class="container z-depth-2">
<table class="striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">AddedBy</th>
      <th scope="col">ShoppedFrom</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1/1/2018</th>
      <td>Sandy</td>
      <td>Market Basket</td>
      <td>100.00</td>
    </tr>
 <tr>
      <th scope="row">1/1/2018</th>
      <td>Nick</td>
      <td>Market Basket</td>
      <td>100.00</td>
    </tr>
    <tr>
      <th scope="row">1/1/2018</th>
      <td>Tuf</td>
      <td>Market Basket</td>
      <td>100.00</td>
    </tr>
    <tr>
      <th scope="row">1/1/2018</th>
      <td>Tuf</td>
      <td>Market Basket</td>
      <td>100.00</td>
    </tr>
      <tr>
      <th scope="row">Total</th>
      <td></td>
      <td></td>
      <th>500.00</th>
    </tr>
  </tbody>
</table>
</div>
<br>

<div class="center-align">

<a href="/expenses/add" class="btn btn-grey col s3">Add</a>
<a href="#" class="btn btn-grey col s3">Edit</a>
<a href="#" class="btn btn-grey col s3">Show</a>
</div>