<h1>Welcome</h1>
<p>Welcome to My Home Kharcha 1.0.0</p>
<p>Track your expenses and split among your friends. It is an easy way to save your money and get rid of multiple hassles that you face (until now!). </p>
{{#if user}}
{{else}}
<a href="/auth/google" class="blue darken-4 btn"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}